# .bash_aliases

alias sd='sdiff --strip-trailing-cr --width=233 --ignore-all-space --ignore-blank-lines --speed-large-files '

# see: http://linuxproblem.org/art_9.html
export    scps=fjb@s12
export    scpu=anon@u1304
alias     sshs="( echo ${d}scps           ; ssh -Y ${d}scps )"
alias     sshu="( echo ${d}scpu           ; ssh -Y ${d}scpu )"

alias win="nohup we /e,. > /dev/null 2>&1 &"

# alias sd='sdiff --width=140 --speed-large-files --ignore-blank-lines --minimal --ignore-space-change --expand-tabs'

# Put aliases in this file
alias a='man -k'
#alias cls='clear; for ((i=0; i<90; i++)) { echo; }; clear'
alias cls='for ((i=0; i<90; i++)) { echo; };'
alias cls2='cmd /c cls'
alias env='env | sort'
alias f=finger
alias h='history | tail -60'
alias j='jobs -l'
alias l='ls -lF'
alias ll='ls -alF'
alias lsf='ls -F'
alias lt='ls -alFt'
alias lh='ls -alFt | head -40'
alias lth='ls -alFt | head'
alias print='lpr.sh'
# alias ph='${ANT_HOME}/bin/ant ${JAVA_OPTS} -projecthelp'
# alias ant='${ANT_HOME}/bin/ant ${JAVA_OPTS}'
alias eff='mvn -o help:effective-pom > effective-pom.txt'
alias mvnc='mvn -o compile'
alias mvni='mvn -o install'
alias mvnp='mvn -o package'
alias jetty='mvn ${JAVA_OPTS}/jre jetty6:run'
alias mvnnotest='mvn -Dmaven.test.skip=true'
# alias mvnreport='${MAVEN_HOME}/bin/mvn ${JAVA_OPTS} surefire-report:report'
# alias jarinstall='mvn ${JAVA_OPTS} -q jar:install'

alias which='type -ap'

alias d='dirs -v'
alias m='popd > /dev/null; dirs -v'
alias p='pushd '
alias u='pushd "$(realpath ..)"'
alias r='pushd +1 > /dev/null; dirs -v'
alias setdirs='echo "dirs -c" > ~/links/.dirs;dirs -p | sort -u | grep -v '~$' | xargs -i, -n1 echo pushd , ">" /dev/null >> ~/links/.dirs'
alias go='. ~/links/.dirs;popd -0;'

alias showdirs='find * -mindepth 0 -maxdepth 0 -type d | fgrep -v CVS'
alias swdirs='find * -mindepth 0 -maxdepth 0 -type d | fgrep -v CVS'
alias showfiles='find * -mindepth 0 -maxdepth 0 -type f'
alias swfiles='find * -mindepth 0 -maxdepth 0 -type f'

alias dest='eval $(sets.sh dest); tail -1 ~/links/.gets'
alias here='eval $(sets.sh here); tail -1 ~/links/.gets'
alias sets='eval $(sets.sh); tail -1 ~/links/.gets'
alias src='eval $(sets.sh src); tail -1 ~/links/.gets'
alias gets='. ~/links/.gets && cat ~/links/.gets'
alias c='. ~/scripts/chdir.sh'

alias trpath='echo $PATH | tr : "\\n" '
alias gen='mvn archetype:generate'
